# 默认忽略的文件
/../../ProcessHollowing /.idea/shelf/
/../../ProcessHollowing /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../ProcessHollowing /.idea/httpRequests/
# Datasource local storage ignored files
/../../ProcessHollowing /.idea/dataSources/
/../../ProcessHollowing /.idea/dataSources.local.xml
